.content {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.header {
    width: 100%;
    margin-bottom: 10px;
}

.header-theme {
    background-image: url("../img/other-header.jpg");
}

.title {
    padding-left: 3px;
    color: rgba(255, 255, 255, 1);
}

.md-title {
    display: inline-flex;
}

#v-map {
    height:720px;
    width: 100%;
    position: relative;
}

.map-wrapper {
    width: 100%;
}

.list-wrapper {
    width: 100%;
    padding-left: 10px;
}

.md-icon {
    padding-left: 5px;
}

.md-input-container {
    width: 95%;
}

.md-theme-blue {
    text-align: center;
    color: rgba(255, 255, 255, .87);
    background-color: #2196f3;
}
